includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
    ignoreErrors:
        - '#^Class Webfox\\\LaravelBackedEnums\\\LaravelBackedEnumMakeCommand extends unknown class Illuminate\\\Foundation\\\Console\\\EnumMakeCommand\.$#'
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true

